<footer>
  <div class="o-container o-container--fluid c-footer">
    <div class="o-grid o-grid--center">
      <div class="o-grid__col u-12 u-4@sm">
        <a href="index.html" class="site-title">
          <p>Internal Geometry. 2022</p>
        </a>
      </div>

      <div class="o-grid__col u-12 u-8@sm">
        <nav class="c-nav">
          <ul class="c-nav__list">
            <li class="c-nav__list_item">
              <a href="index.html"
                ><img
                  src="assets/images/rrss/twitter-icon.svg"
                  alt="Twitter logo"
              /></a>
            </li>
            <li class="c-nav__list_item">
              <a href="index.html"
                ><img
                  src="assets/images/rrss/linkedin-icon.svg"
                  alt="LinkedIn Logo"
              /></a>
            </li>
            <li class="c-nav__list_item">
              <a href="index.html"
                ><img
                  src="assets/images/rrss/instagram-icon.svg"
                  alt="Instagram logo"
              /></a>
            </li>
            <li class="c-nav__list_item">
              <p>Alejandro Pino Alcalde</p>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
