<div class="o-grid o-grid--center c-project u-space-b-md">
  <div class="o-grid__col u-12 u-6@lg">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@@project-image1" />
        </div>
        <div class="swiper-slide">
          <img src="@@project-image2" />
        </div>
        <div class="swiper-slide">
          <img src="@@project-image3" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="o-grid__col u-12 u-6@lg">
    <div class="c-project__info">
      <h2>@@project-title</h2>
      <h4>@@project-genre</h4>
      <p>@@project-description</p>
      <div class="button u-space-t-md">
        <a href="@@project-link">Download link</a>
      </div>
    </div>
  </div>
</div>
